@import "compass/css3";
@import "animate.sass";

html, body {
  background-color: #d3d3d3;
  font-family: 'Open Sans', arial, sans-serif; 
  font-weight: 300;
  font-size: 1em;
  color: #555;
}
body {
  @include background-image(linear-gradient(white, #d3d3d3));
  min-height: 100%;
}

h1, h2, h3, h4 {
  color: black;
  font-weight: normal;
}
h1 {
  font-size: 1.6em;
  margin: 0 0 30px 0;
}
h2 {
  font-size: 1.2em;
  margin: 40px 0 20px;
}
h3 {
  font-size: 1.1em;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:visited {
    color: #4086BF;
  }
  &:hover {
    color: #4E6CD5;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

em {
  font-style: italic;
  color: black;
}
small {
  font-size: 0.8em;
}

.hr {
  border-top: 1px solid #ddd;
  margin: 40px 0px;
}

#tree {
  position: fixed;
  bottom: 0px;
  right: 20px;
}

#site-header h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 35px 0 35px 50px;
  color: #444;
}

#main {
  @include box-shadow(#e4e4e4 0px 1px 4px);
  @include border-radius(3px);
  background-color: #fff;
  width: 75%;
  padding: 50px 50px 0px;


  ul {
    list-style: none;
    &:before { 
      content: "\002D \0020 \00A0";
    }
  }

  p, li {
    line-height: 1.5em;
  }
}

.article-img {
  float: left;
  text-align: center;
  width: 160px;
}
.article-content {
  margin-left: 200px;
}
.article-aside {
  float: left;
  width: 6%;
  text-align: center;
  padding-top: 5px;
}
.article-date {
  color: #B82626;
}
.article-date .day {
  padding-bottom: 5px;
}
.article-date .month {
  color: #484848;
  font-size: .9em;
}
.article-date .year {
  font-size: .7em;
}

#site-footer {
  margin-top: 50px;
  padding: 3px;
  text-align: center;
  font-size: .8em;
}

article {
  min-height: 100px;
  header h1 {
    a {
      &:visited {
        color: #222;
      }
      &:hover {
        color: #4E6CD5;
      }
    }
  }
}

#site-nav {
  position: fixed;
  top: 5px;
  right: 5px;
  a {
    padding: 0 2px 0 0;
  }
}

section {
  padding: 20px 30px;
  @include border-radius(3px);

  h1 {
    margin: 0px;
  }
  h2 {
    font-size: 1em;
  }
}

.trivia {
  display: none;
}


.trivia.test {
  display: inline;
  opacity: 0;
  @include animation(fadeIn, 5s, ease, 0.2s, 2, alternate);
}

.clear {
  clear: both;
}
