<doctype html>

{# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ #}
<!--[if lt IE 7]>
  <html class='no-js ie6 oldie' lang='en'>
<![endif]-->

<!--[if IE 7]>
  <html class='no-js ie7 oldie' lang='en'>
<![endif]-->

<!--[if IE 8]>
  <html class='no-js ie8 oldie' lang='en'>
<![endif]-->

<!--[if gt IE 8]>
  <html class='no-js' lang='en'>
<![endif]-->

<head>
  <meta charset='utf-8'>

  <title>Alex Buchanan</title>

  <link rel='stylesheet' href='/css/style.css'>
  <link rel='stylesheet' href='/css/fonts.css'>
  <link rel='stylesheet' href='/css/main.css'>

  <script src='/js/libs/modernizr-2.0.6.min.js'></script>

</head>
<body>

  <header id='site-header'>
    <h1>Site Title</h1>
  </header>

  <main id='main' role='main'>
  <article>

    <div class='article-img'>
      <img src='/img/{{ meta.img }}'/>
    </div>
    <div class='article-content'>
    <header>
      <h1>{{ meta.title }}</h1>
    </header>

    {{ content }}
    </div>
  </article>

  <div class='clear'></div>

  <footer id='site-footer'>
    <p><a href='//www.wikipedia.org/wiki/Copyleft)'>Copyleft</a>. <a href='//github.com/abuchanan'>source</a></p>
  </footer>
  </main>

  <nav id='site-nav'>
    <a href='//github.com/abuchanan'><img src='/img/github.png'></a>
    <a href='//facebook.com/buchanae'><img src='/img/fb.png'></a>
  </nav>

  <img id='tree' src='/img/tree.png'>

  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script>
    window.jQuery || document.write("<script src='js/libs/jquery-1.6.2.min.js'><\/script>");
  </script>
