article
  .article-img
    img src='/img/man.png'
  .article-content
    header
      h1 I'm Alex Buchanan
      markdown:
        I speak computer.

        I know how binary works.

        Yes, I can fix that.

        I've worked on websites for Mozilla.

        I write software for biologists.

        I've studied computer science.

        I've studied business, spanish, and biology.

        I love music.

        My favorite artist is Ray Charles.

        I spawn side projects like a fork bomb.

        I lived in Santander, Spain for two months.

        I backpacked Europe for a month.

        I've been to Burning Man three times.

        My favorite question is "why?"

        I grew up on the Oregon coast.

        I love to ride my bicycle.

        I love to surf.

        I am SCUBA certified.

        I am passionate about open source.

        I worked at the OSU Open Source Lab.

        My first computer was an Apple II.

        I started learning BASIC programming when I was about 12.

        I designed and built this website.

        I'm always coming up with <small>(far-fetched)</small> ideas.
