---
title: 'Welcome'
---
%article
  .article-img
    %img( src='/img/readyfireaim.jpg' )
  .article-content
    %header
      %h1 Ready, fire, aim!

    :markdown
      I just read [Joel Spolsky](http://www.joelonsoftware.com/)'s post entitled _[Fire and Motion](http://www.joelonsoftware.com/articles/fog0000000339.html)_.  Man that guy is awesome.  I just love reading his stuff, and it always inspires me to be better at what I do.

      For a couple of years, I've been considering that age-old interview question, "what is your greatest weakness?"  I've considered many different answers to this question.  There is the elegant and wise "your greatest strength is often your greatest weakness."  There is the practical, "estimating project time, because it's really hard!"  In reality, the answer depends a lot on context.

      In _[Things You Should Never Do](http://www.joelonsoftware.com/articles/fog0000000069.html)_, Joel says something I really relate to:

      > We're programmers. Programmers are, in their hearts, architects, and the first thing they want to do when they get to a site is to bulldoze the place flat and build something grand. We're not excited by incremental renovation: tinkering, improving, planting flower beds.  

      __That is me__. I desire to create something beautiful and elegant.  I desire to build a masterpiece that has impact for decades.  I have ideas for grand projects floating around in my brain, but often I never start them because the idea isn't perfect enough yet. (I blame Python for instilling me with such values =P )

      I've been thinking about writing for a long time.  I've been dreaming up the perfect first blog post.  I've been designing a blog theme that is simple, clean, easy on the eyes (which has never been good enough).  I've been engineering a publishing system that is easy to manage (static site generator FTW), exploring dozens of options, and I even considered writing my own.  I'm may not competing with an adversary that is suppressing me with cover fire, but I think it's time I started firing and moving.

      So, here's to Joel Spolsky, a very wise man of the Internet Age, who got me to launch my damn editor and write down some thoughts.
