---
title: Resume
---

%header#page-header

  .leftcol
    %h1 Alex Buchanan

  .rightcol
    #contact-info
      %p buchanae@gmail.com
      %p github.com/abuchanan
      %p 503 851 8946

%section
  %h1 Employment

  .subsection

    .leftcol
      %h2 OSU Botany and Plant Pathology, Mentored by Jeff Chang
      %h3 Software Development, Undergraduate Research Assistant

      :markdown
        + Learning and implementing complex requirements related to
          biological processes and statistics.
        + Developing software for genomic sequence data analysis.
        + Data sets in the range of 100 GB to 1 TB
        + Perl, Java, C++

    .rightcol
      %p April 2011 - present

  .subsection

    .leftcol
      %h2 Mozilla
      %h3 Lead Developer, Mozilla.com

      :markdown
        + Managed and implemented engineering requirements for projects 
          with diverse teams, from product marketing to metrics.
        + Guided other developers to complete those projects successfully.
        + Released and maintained a very high quality site.
        + Developed code for both client and server sides, 
          and handled all production releases in the en-US locale.

        + Noteworthy projects:

          * The Firefox 4.0 release included a complete site redesign 
            and content overhaul.  Deployed alongside Firefox for Mobile.
          * Releasing Firefox for Mobile required all new content, device detection, 
            download handling, and styles for mobile browsers.
          * __Product releases__ including Firefox 3.5, 4.0 and Mobile 1.0.
          * __Optimization__ of page performance resulted in 
            potentially millions of new downloads a year.
          * __Browser Choice__ included special marketing, build, download, 
            tracking, and deployment requirements -- and a quick pace -- 
            this was a very challenging project.

        + Mozilla.com:

          * Millions of page views per week.
          * Millions of downloads per day during major Firefox releases.
          * Content in dozens of languages.

      %h3 Lead Developer, Spreadfirefox.com
      :markdown
        + Community engagement site with over 100K weekly unique visitors.
        + Noteworthy projects:
          + Site __redesign__.
          + __Security upgrades__ for user login and account pages.
          + Affiliates, a high traffic __metrics service__, tracking downloads 
            from "Get Firefox" buttons on affiliate websites.

      %h3 Generally
      :markdown
        + Interviewed and contributed to hiring decisions.
        + Worked with diverse teams, located around the world.
        + Mentored others, including a summer intern.
        + Worked on a wide variety of web properites, including add-ons, support, QA, 
          video streaming, and internal tools.
        + PHP, Python, HTML/CSS, Javascript, jQuery, Django, Git, SVN, 
          MySQL, Drupal, and more.

    .rightcol
      %p 2007 - 10

  .subsection

    .leftcol
      %h2 OSU Open Source Lab
      %h3 Student Developer, Web Development
      :markdown
        + Migrated osuosl.org to Drupal, including a new design and content.
        + Designed and developed a site for the Government Open Source Conference.
        + PHP, HTML, CSS, Javascript, Drupal

    .rightcol
      %p 2006 - 07

.page-break

%section
  %h1 Education

  .subsection

    .leftcol
      %h2 Oregon State University
      %h3 Computer Science

      :markdown
        + Senior project required to complete degree.

        + Explored other disciplines including Spanish, Business, 
          Electrical Engineering, and Biology.

    .rightcol
      %p Jan. 2011 - present
      %p 2003 - 08
