---
title: Resume
---

header#page-header
  h1 Alex Buchanan

  div#contact-info
    p buchanae@gmail.com
    p abuchanan.github.com
    p 503 851 8946

section
  h1 Employment

  .subsection
    .timeline
      p April 2011 - present

    .deets
      h2 OSU Botany and Plant Pathology, Mentored by Jeff Chang
      h3 Software Development, Undergraduate Research Assistant
      markdown:
        + Developing software for DNA/RNA sequence data analysis.
        + Datasets on the order of billions of rows.

  .subsection

    .timeline
      p 2007 - 10

    .deets
      h2 Mozilla

      h3 Lead Developer, Mozilla.com
      markdown:
        Developed a large portion of both back-end and front-end projects and 
        deployed nearly all changes to the US English locale.

        Helped manage requirements and development for many concurrent projects.

        Noteworthy projects:

        + Complete __site redesign__ and content overhaul. Months of planning and  
          development.  Deployed alongside the Firefox 4.0 release.
        + Developed __mobile handling__ to serve device specific styles, content, 
          and downloads.
        + __Product releases__ always include a lot of new content and logistics 
          under tight schedules.
        + __Optimization__ using metrics improved page performance, 
          resulting in millions of new downloads a year.
        + The __Browser Choice__ was high profile and required special Firefox builds, 
          download pages and tracking. Deployment was coordinated with Microsoft.  
          The schedule was very fast paced. Nearly every team at Mozilla was involved.

      p Mozilla.com:
      markdown:
        + Millions of page views per week.
        + Millions of downloads per day during major Firefox releases.
        + Content in dozens of languages.

      .page-break

      h3 Lead Developer, Spreadfirefox.com
      p Community engagement site with over 100K weekly unique visitors.
      p Noteworthy projects:
      markdown:
        + Site __redesign__.
        + __Security upgrades__ for user login and account pages.
        + Affiliates, a high traffic __metrics service__, tracking downloads 
          from "Get Firefox" buttons on affiliate websites.

      h3 Generally
      markdown:
        + Used PHP, Python, HTML/CSS, Javascript, jQuery, Django, Git, SVN, 
          Linux, MySQL, Drupal, and more.
        + Interviewed and contributed to hiring decisions.
        + Worked with diverse teams, located around the world.
        + Mentored others, including a summer intern.
        + Worked on a wide variety of web properites, including add-ons, support, QA, 
          video streaming, and internal tools.

  .subsection
    .timeline
      p 2006 - 07
    .deets
      h2 OSU Open Source Lab
      h3 Student Developer, Web Development
      markdown:
        + Drupal website development.
        + Migrated the lab's website to Drupal, including a new design and content.
        + Implemented a new Drupal site and design for the 
          Government Open Source Conference.


section
  h1 Education

  .subsection
    .timeline
      p 
      | Jan. 2011 - present
      p 
      | 2003 - 08

    .deets
      h2 Oregon State University
      h3 Computer Science

      markdown:
        One class remaining.  Expected to be completed in March 2012.

        I've explored other disciplines including Spanish, Business, 
        Electrical Engineering, and Biology.
